.aal_anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
    text-decoration: none;
}
.aal_anchor:focus {
    outline: 0;
}
.aal_svg {
    vertical-align: middle;
    visibility: hidden;
    display: inline-block;
    fill: currentColor;
}
h1:hover .aal_svg, h2:hover .aal_svg, h3:hover .aal_svg, h4:hover .aal_svg, h5:hover .aal_svg, h6:hover .aal_svg,
p:hover .aal_svg, li:hover .aal_svg, blockquote:hover .aal_svg, .wp-block-hb-accordion__section:hover .aal_svg, 
.wp-block-hb-toggle:hover .aal_svg {
    visibility: visible;
}

.wp-block-hb-accordion__section .aal_anchor {
    margin-left: -62px;
}

.wp-block-hb-toggle .aal_anchor {
    margin-left: -68px;
}

.aal_offset_base {
    position: relative;
}

.aal_offset_anchor {
    position: absolute;
    bottom: 15vh;
}
